p {
    font-size: 20px;
}

ul {
    background: linear-gradient(red, blue)
}

#facts2 {
    background: linear-gradient(green, yellow)
}

#goodsite3 {
    background: radial-gradient(green, blue, pink)
}

ol {
    background: linear-gradient(red, green)
}

#grad1 {
    height: 100px;
    background: linear-gradient(to bottom right, red, yellow, green)
}

h1 {
    text-decoration: line-through;
    text-transform: uppercase;
}

h2 {
    text-decoration: overline;
    text-transform: lowercase;
}

h3 {
    text-decoration: underline;
    text-transform: capitalize;
}

h4 {
    text-decoration: overline underline;
    text-transform: uppercase;
}

p {
    font-size: 20px;
    color: aqua;
    text-shadow: 2px 2px red;
    box-shadow: 2px 2px 10px blue;
}

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

input[type="text"] {
    border: 2px solid greenyellow;
}

input[type="password"] {
    border: 2px solid greenyellow;
}

ul>li {
    color: green;
    font-size: 20px;
}

h1+p {
    text-shadow: 2px 2px green;
}

li:nth-child(3) {
    background-color: red;
}

a:hover {
    color: red;
    font-size: 20px;
}

h1::first-letter {
    font-size: 35px;
    color: gold;
}
